.Select-control {
    background-color: rgb(25, 25, 25) !important;
    color:white;
}  

.Select-value-label {
    color: white !important;
}

.Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}    

#langue_dropdown .Select-value-label {
    color: rgb(37, 224, 37) !important;
}    

#langue_dropdown .Select-control {
    background-color: red !important;
    color:white;
  }  
  
#langue_dropdown .Select-menu-outer {
    background-color: rgb(25, 25, 25);
    color: white;
}